@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background-color: rgba(7, 101, 82, 0.69); */
    background-color: rgba(7, 101, 82, 0.142);;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}
.cont{
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    width : 440px;
    height: 520px;
    border: 1px solid rgba(7, 101, 82, 0.69);
    border-radius: 30px;
    box-shadow: 3px 8px 10px 3px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
}
.signup-container{
    position: absolute;
    width: 400px;
    display: flex;
    flex-direction: column;
    /* padding-left: 20px;
    padding-right: 20px; */
}
.top span{
    color: rgba(7, 101, 82, 0.69);
    font-size: small;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: rgba(7, 101, 82, 0.69);
    margin-left: 5px;
}
header{
    color: rgba(7, 101, 82, 0.69);
    font-size: 30px;
    text-align: center;
    padding: 5px 0 35px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255,255,255,0.2);
    color: rgba(7, 101, 82, 0.69);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    border: 2px solid rgba(7, 101, 82, 0.69);
}
.input-field:hover, .input-field:focus{
    background: rgba(7, 101, 82, 0.233);
}
::-webkit-input-placeholder{
    color: #666666;
}
.input-box i{
    position: relative;
    top: -35px;
    left:17px;
    color: rgba(7, 101, 82, 0.69);
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(7, 101, 82, 0.69);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(7, 101, 82, 0.85);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: rgba(7, 101, 82, 0.69);
    font-size: small;
    margin-top: 10px;

}
.two-col .one{
    gap: 5px;
    display: flex;
}
.two label a{
    text-decoration: none;
    color: rgba(7, 101, 82, 0.69);
}
.two label a:hover{
    text-decoration: underline;
}